*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(4, 23, 40);
    
}
#conteiner {
    display: flex;
    flex-flow: nowrap column;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
}
#head{
    display: flex;
    flex-flow: nowrap column;
    color: whitesmoke;
    text-align: center;

}
#headZone{
    height: 400px;
    background-image:url("./images/imgHead.jpg") ;
    background-position: center 35%;
    background-size:cover;
    background-repeat: no-repeat;
}
#pagination{
    display: flex;
    justify-content: space-evenly;
    
}
.divPage{
 width: 20px;
 height: 20px;
  border-radius: 50%;
 border: 1px solid whitesmoke;
 margin-top: 5%;
 cursor: pointer;
 text-align: center;
 color: whitesmoke;
 font-size: large;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
}
#context{
    display: flex;
    flex-flow: nowrap row;
    
    max-width: 100%;
    margin-left: 200px;
    margin-top: 20px;
    
    
}
#leftDiv{
    width: 300px;
   margin-top: 50px;
   color:whitesmoke
}


#rightDiv{
    display:flex;
    flex-flow: nowrap column;
    width: 700px;
   display: none;
}

.rightDivImg{
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
   max-width: 100%;


}
.rightDivTxt{
    display: flex;
max-width: 70%;
margin-left: 15%;
margin-top: 20px;
font-size: larger;
color: whitesmoke;
}
li{
    cursor: pointer;
    font-size: larger;
    margin-top: 10px;
}
li:hover {
    color:cyan;
}
.divPage:hover{
    background-color: cyan;
}
img{
    
    max-width: 600px;
    height: 400px;
    margin: auto auto;
    
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 10%;
}
p{
    margin-left: 50px;
    margin-bottom: 40px;
    font-size: 40px;
    color:whitesmoke
}
input{
    cursor: pointer;
    color: whitesmoke;
    background-color: gray;
}
input:hover{
    color: black;
    background-color: aliceblue;
}